*.so
*.pyc
.project
.pydevproject
*.png
norepository_*
*~
build
CyFPPS.cpp
examples/*/res/*
*.egg-info
__pycache__
.pytest_cache
**/.DS_Store
xtrack/prebuilt_kernels
!xtrack/prebuilt_kernels/*.py
checkpoint_restart.dat
**/claude_notes/
.idea
.claude/
test_data/sls/simona_field_map.txt
examples/fcc_ee_solenoid/data/
examples/splineboris/results/
